@model CashFlowOrganizer.Models.NewUserViewModel

<div id="termsAndConditions" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="panel panel-main greyblueBACKGROUND">
            <div class="panel-heading text-center greyblueBACKGROUND whiteCOLOR font150">Terms and Conditions</div>
            <div class="panel-body">
                <h2>Introduction</h2>

                <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Cash Flow Organizer accessible at CashFlowOrganizer.com.</p>

                <p>These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.</p>

                <p>Minors or people below 18 years old are not allowed to use this Website.</p>

                <h2>Intellectual Property Rights</h2>

                <p>Other than the content you own, under these Terms, Cash Flow Organizer and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>

                <p>You are granted limited license only for purposes of viewing the material contained on this Website.</p>

                <h2>Restrictions</h2>

                <p>You are specifically restricted from all of the following:</p>

                <ul>
                    <li>publishing any Website material in any other media;</li>
                    <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                    <li>publicly performing and/or showing any Website material;</li>
                    <li>using this Website in any way that is or may be damaging to this Website;</li>
                    <li>using this Website in any way that impacts user access to this Website;</li>
                    <li>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;</li>
                    <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</li>
                    <li>using this Website to engage in any advertising or marketing.</li>
                </ul>

                <p>Certain areas of this Website are restricted from being access by you and Cash Flow Organizer may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.</p>

                <h2>Your Content</h2>

                <p>In these Website Standard Terms and Conditions, "Your Content" shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Cash Flow Organizer a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</p>

                <p>Your Content must be your own and must not be invading any third-party’s rights. Cash Flow Organizer reserves the right to remove any of Your Content from this Website at any time without notice.</p>

                <h2>No warranties</h2>

                <p>This Website is provided "as is," with all faults, and Cash Flow Organizer express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>

                <h2>Limitation of liability</h2>

                <p>In no event shall Cash Flow Organizer, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  Cash Flow Organizer, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>

                <h2>Indemnification</h2>

                <p>You hereby indemnify to the fullest extent Cash Flow Organizer from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>

                <h2>Severability</h2>

                <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>

                <h2>Variation of Terms</h2>

                <p>Cash Flow Organizer is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</p>

                <h2>Assignment</h2>

                <p>The Cash Flow Organizer is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

                <h2>Entire Agreement</h2>

                <p>These Terms constitute the entire agreement between Cash Flow Organizer and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>

                <h2>Governing Law & Jurisdiction</h2>

                <p>These Terms will be governed by and interpreted in accordance with the laws of the State of Florida, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Florida for the resolution of any disputes.</p>

                <div class="modal-footer">
                    <button type="button" class="btn whiteCOLOR greyblueBACKGROUND font125 btnHover" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="privacyPolicy" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="panel panel-main greyblueBACKGROUND">
            <div class="panel-heading text-center greyblueBACKGROUND whiteCOLOR font150">Privacy Policy</div>
            <div class="panel-body">
                <p>Effective date: August 13, 2018</p>


                <p>Cash Flow Organizer ("us", "we", or "our") operates the CashFlowOrganizer.com website (the "Service").</p>

                <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. This Privacy Policy  for Cash Flow Organizer is powered by <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php">FreePrivacyPolicy.com</a>.</p>

                <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from CashFlowOrganizer.com</p>


                <h2>Information Collection And Use</h2>

                <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

                <h3>Types of Data Collected</h3>

                <h4>Personal Data</h4>

                <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>

                <ul>
                    <li>Email address</li>
                    <li>First name and last name</li>
                    <li>Address, State, Province, ZIP/Postal code, City</li>
                    <li>Cookies and Usage Data</li>
                </ul>

                <h4>Usage Data</h4>

                <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

                <h4>Tracking & Cookies Data</h4>
                <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
                <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
                <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
                <p>Examples of Cookies we use:</p>
                <ul>
                    <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
                    <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
                    <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
                </ul>

                <h2>Use of Data</h2>

                <p>Cash Flow Organizer uses the collected data for various purposes:</p>
                <ul>
                    <li>To provide and maintain the Service</li>
                    <li>To notify you about changes to our Service</li>
                    <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                    <li>To provide customer care and support</li>
                    <li>To provide analysis or valuable information so that we can improve the Service</li>
                    <li>To monitor the usage of the Service</li>
                    <li>To detect, prevent and address technical issues</li>
                </ul>

                <h2>Transfer Of Data</h2>
                <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
                <p>If you are located outside United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to United States and process it there.</p>
                <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
                <p>Cash Flow Organizer will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

                <h2>Disclosure Of Data</h2>

                <h3>Legal Requirements</h3>
                <p>Cash Flow Organizer may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
                <ul>
                    <li>To comply with a legal obligation</li>
                    <li>To protect and defend the rights or property of Cash Flow Organizer</li>
                    <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
                    <li>To protect the personal safety of users of the Service or the public</li>
                    <li>To protect against legal liability</li>
                </ul>

                <h2>Security Of Data</h2>
                <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

                <h2>Service Providers</h2>
                <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
                <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>



                <h2>Links To Other Sites</h2>
                <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>


                <h2>Children's Privacy</h2>
                <p>Our Service does not address anyone under the age of 18 ("Children").</p>
                <p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>


                <h2>Changes To This Privacy Policy</h2>
                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
                <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>


                <h2>Contact Us</h2>
                <p>If you have any questions about this Privacy Policy, please contact us:</p>
                <ul>
                    <li>By email: support@cashfloworganizer.com</li>

                </ul>                                
              
                <div class="modal-footer">
                    <button type="button" class="btn whiteCOLOR greyblueBACKGROUND font125 btnHover" data-dismiss="modal">Close</button>
                </div>
               
            </div>
        </div>

    </div>
</div>

@*<div class="col-sm-12 noPadding">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="jumbotron whiteBACKGROUND">
            <h1 class="text-center greyblueCOLOR">7 Day Free Trial</h1>
            <p class="text-center greyCOLOR">Then only $4.95/month</p>
            <ul>
                <li class="font150">Cancel whenever you want</li>
                <li class="font150">Enjoy knowing where you are financially every day without the hassle</li>
                <li class="font150">You will only be billed after the 7 Day Free Trial if you do not cancel your account</li>
            </ul>
        </div>
    </div>
</div>*@
    
<div class="container container-fluid">
    @using (Html.BeginForm())
    {
        <div class="col-sm-12">
            @Html.ValidationMessage("RandomError")
            <p></p>
        </div>

        <div class="col-sm-6 col-sm-offset-3 topMargin40">
            <div class="panel panel-main greyblueBACKGROUND">
                <div class="panel-heading text-center greyblueBACKGROUND whiteCOLOR font175">Account Information</div>
                <div class="panel-body">

                    <div class="noPadding">
                        @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "First Name" } })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Username" } })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Confirm Password" } })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                </div>
            </div>

        </div>

        @*<div class="col-sm-6">
            <div class="panel panel-main greyblueBACKGROUND">
                <div class="panel-heading text-center greyblueBACKGROUND whiteCOLOR font175">Billing Address</div>
                <div class="panel-body">

                    <div class="noPadding">
                        @Html.LabelFor(m => m.Billing.Address, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.Billing.Address, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Address" } })
                        @Html.ValidationMessageFor(m => m.Billing.Address)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.Billing.City, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.Billing.City, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "City" } })
                        @Html.ValidationMessageFor(m => m.Billing.City)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.Billing.State, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.DropDownListFor(m => m.Billing.State, new SelectList(Model.Billing.StateDDL, "key", "value"), "-- Select State --", htmlAttributes: new { @class = "form-control tallInput" })
                        @Html.ValidationMessageFor(m => m.Billing.State)
                    </div>
                    <div class="noPadding">
                        @Html.LabelFor(m => m.Billing.Zipcode, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.Billing.Zipcode, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Zipcode" } })
                        @Html.ValidationMessageFor(m => m.Billing.Zipcode)
                    </div>

                </div>
            </div>
        </div>*@

        @*<div class="col-sm-6">
            <div class="panel panel-main greyblueBACKGROUND">
                <div class="panel-heading text-center greyblueBACKGROUND whiteCOLOR font175">Payment</div>
                <div class="panel-body">

                    <label class="col-sm-12 text-center tallLabel">Total: $4.95/month after the 7 Day Free Trial</label>

                    <div class="noPadding">
                        @Html.LabelFor(m => m.Billing.CardNumber, htmlAttributes: new { @class = "control-label tallLabel" })
                        @Html.EditorFor(m => m.Billing.CardNumber, new { htmlAttributes = new { @class = "form-control tallInput wideInput" } })
                        @Html.ValidationMessageFor(m => m.Billing.CardNumber)
                    </div>

                    <div class="col-sm-5">
                        <label class="control-label inlineLabel tallLabel">Expiration Date</label>
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Billing.ExpirationMonth, new SelectList(Model.Billing.MonthDDL, "key", "value"), "-- Month --", htmlAttributes: new { @class = "form-control tallInput wideInput" })
                        @Html.ValidationMessageFor(m => m.Billing.ExpirationMonth)
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Billing.ExpirationYear, new SelectList(Model.Billing.YearDDL, "key", "value"), "-- Year --", htmlAttributes: new { @class = "form-control tallInput wideInput" })
                        @Html.ValidationMessageFor(m => m.Billing.ExpirationYear)
                    </div>

                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.Billing.SecurityCode, htmlAttributes: new { @class = "control-label inlineDDL tallLabel" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.Billing.SecurityCode, new { htmlAttributes = new { @class = "form-control tallInput wideInput" } })
                        @Html.ValidationMessageFor(m => m.Billing.SecurityCode)
                    </div>
                    <div class="col-sm-3"></div>

                </div>
            </div>
        </div>*@

        <div class="text-center" style="margin-bottom: 50px;">
            <br />
            <div class="col-sm-12 text-center noPadding">
                <p class="text-center font125">
                    @Html.CheckBoxFor(m => m.TermsAndConditions, htmlAttributes: new { @class = "fomr-control" })

                    I agree to the
                    <a class="btnHoverSM" data-toggle="modal" data-target="#termsAndConditions">Terms and Conditions</a>
                    and the
                    <a class="btnHoverSM" data-toggle="modal" data-target="#privacyPolicy">Privacy Policy</a>
                </p>
                @Html.ValidationMessageFor(m => m.TermsAndConditions)
            </div>  
            <div class="col-sm-6 col-sm-offset-3" style="margin-bottom: 50px;">
                <button type="submit" class="btn btn-block btn-lg btnHover greyblueBACKGROUND whiteCOLOR">Create Account</button>
            </div>         
        </div>
    }

</div>

<script>

    $('.container').keypress(function (e) {
        if (e.which == 13) {
            e.preventDefault();
            $('#SubmitButton').focus().click();
        }
    });

</script>