@model CashFlowOrganizer.Areas.Main.Models.UserAccount

@using (Ajax.BeginForm("UpdatePassword", "UserAccount", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Password", InsertionMode = InsertionMode.Replace }))
{
    @Html.Raw(TempData["PasswordMSG"])

    <div class="noPadding">
        @Html.LabelFor(m => m.CurrentPassword, htmlAttributes: new { @class = "control-label tallLabel" })
        @Html.EditorFor(m => m.CurrentPassword, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "Current Password" } })
        @Html.ValidationMessageFor(m => m.CurrentPassword)
    </div>

    <div class="noPadding">
        @Html.Label("New Password", htmlAttributes: new { @class = "control-label tallLabel" })
        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "New Password" } })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="noPadding">
        @Html.Label("New Password Confirmation", htmlAttributes: new { @class = "control-label tallLabel" })
        @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control tallInput wideInput", @placeholder = "New Password Confirmation" } })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <div>@Html.ValidationMessage("Summary")</div>

    <div class="text-center col-sm-6 col-sm-offset-3">
        <button type="submit" class="btn btn-block btnHover font125 greyblueBACKGROUND whiteCOLOR roundBORDER">Update Password</button>
    </div>
}  

