<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Cash Flow Organizer</title>
    <meta name="description" content="Why stress about money? Manage your personal finances without the hassle.">
    <meta name="keywords" content="Cash Flow, Money Management, Budget, Money Manager, Easy, Simple">
    <link rel="icon" href="~/Content/images/CFO.png?v=2" type="image/png" sizes="16x16">  

    @Styles.Render("~/Content/EveryPageContent")
    @Scripts.Render("~/bundles/EveryPageScript")

</head>
<body>
    <div id="spinnerProcessing"></div>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home", new { area = "" })" class="navbar-brand">Cash Flow Organizer</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-top: 10px;margin-bottom: 10px;">
                    <li><a class="font125 btnHover" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a class="font125 btnHover" href="@Url.Action("Index", "LearnMore")">Learn More</a></li>
                    <li><a class="font125 btnHover" href="@Url.Action("Index", "SignUp")">Sign Up</a></li>
                </ul>
                @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group" style="margin-top: 10px;margin-bottom: 10px;">
                        <input type="text" name="Username" class="form-control blackCOLOR" placeholder="Username" />
                        <input type="password" name="Password" class="form-control blackCOLOR" placeholder="Password" /> 
                    </div>
                                         
                    <button type="submit" class="btn whiteCOLOR greyblueBACKGROUND font125 btnHover whiteBORDER roundBORDER" id="SignInBtn">Sign In</button>
                }
            </div>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <div class="footer text-center font150 whiteCOLOR">
            Contact us at Support@CashFlowOrganizer.com
        </div>
    </div>

    @RenderSection("scripts", required: false)
    
</body>
</html>

<script>
    $('.navbar-form').keypress(function (e) {
        if (e.which == 13) {
            e.preventDefault();
            $('#SignInBtn').focus().click();
        }
    });
</script>